* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bookman Old Style';  
    font-weight: 200;
    
}

body {
    background: linear-gradient(rgba(255, 158, 2, 0), rgba(0,0,0,0.5)), url(imagenes/naranja.webp);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#titulo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-nombre {
    margin-top: 16%;
    font-size: 70px;
    text-transform: uppercase;
    color:#ffffff;
}

.titulo-linea {
    width: 400px;
    height: 8px;
    background: radial-gradient(rgb(255, 90, 0), #ffa000);
    /*border: 3px solid rgb(255, 90, 0);*/
    margin: 10px auto 20px auto;

}

h1 {
    font-size: 40px;
    color: #ffffff;
    margin-left: 10%;
    margin-right: 10%;
    text-transform: uppercase;
}

h2 {
    font-size: 20px;
    color:#ffffff;
    margin-left: 10%;
    margin-right: 10%;
}